$titleFont: 'Abril Fatface', cursive;
$mainFont: 'Poppins', sans-serif;
$accentColor: #DC3523;
$bg-picture-xs: url('../img/lyon-3-xs.jpg');
$bg-picture-s: url('../img/lyon-3-s.jpg');
$bg-picture-md: url('../img/lyon-3-md.jpg');
$bg-picture-l: url('../img/lyon-3-l.jpg');
$bg-picture-xl: url('../img/lyon-3-xl.jpg');
$bg-picture: url('../img/lyon-3.jpg');
